<mat-form-field style="width: 20%; margin-left: 1%">
        <input matInput (keyup)="applyFilter($event.target.value)" 
        placeholder="Filter by Name or ID">
      </mat-form-field>

<div class="mat-elevation-z8">
        <table mat-table class="full-width-table" matSort aria-label="Elements">
        
            <!-- Profile Column -->
          <ng-container  matColumnDef="profileStudent">
            <th mat-header-cell *matHeaderCellDef >profileStudent</th>
            <td mat-cell *matCellDef="let student">
                <img [src]="student.profileStudent" [title]="student.profileStudent" class="Imgsize" (click)="DetailStudent()">
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        
        <!-- numberStudent Column -->
        <ng-container matColumnDef="numberStudent">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let student">{{student.numberStudent}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
            <!-- nameStudent Column -->
          <ng-container matColumnDef="nameStudent">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let student">{{student.nameStudent}}</td>
              <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <!-- surnameStudent Column -->
          <ng-container matColumnDef="surnameStudent">
              <th mat-header-cell *matHeaderCellDef>Surname</th>
              <td mat-cell *matCellDef="let student">{{student.surnameStudent}}</td>
              <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <!-- dateStudent Column -->
          <ng-container matColumnDef="dateStudent">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
              <td mat-cell *matCellDef="let student">{{student.dateStudent}}</td>
              <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <!-- emailStudent Column -->
          <ng-container matColumnDef="emailStudent">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let student">{{student.emailStudent}}</td>
              <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
           <!-- passwordStudent Column -->
           <ng-container matColumnDef="passwordStudent">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>passwordStudent</th>
            <td mat-cell *matCellDef="let student">{{student.passwordStudent}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
         </ng-container>
         <!-- Add button Column -->
         <ng-container matColumnDef="enrollButton">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let student">
                <div class="center">
                    <button mat-raised-button color="primary" class="center-text" id="{{'Approvebtn'+student.numberStudent }}" (click)="Approvebutton(student.numberStudent)">Approve</button>
                    <button mat-raised-button class="center-text" id="{{'rejectBtn'+student.numberStudent }}"  (click)="rejectbutton(student.numberStudent)">Reject</button>

                    <!-- <button mat-raised-button color="primary" class="center-text" id="{{'enrollBtn'+ student.numberStudent }}" (click)="openDialog(student.numberStudent)">Approve</button>
                    <button mat-raised-button class="center-text" id="{{'enrollBtn'+ student.numberStudent }}" (click)="openDialog(student.numberStudent)">Reject</button> -->
                    <!-- <b ng-show="pending">PENDING!!!!</b> -->
                </div>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
      <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]"> </mat-paginator>
      </div>
    