<mat-dialog-content>
    <div>
        <h3 class="register-title"> Register </h3>
    </div>

    <div class="form-row-wrapper">

        <mat-form-field class="form-field" style="width:95%">
            <mat-label> Enter Email </mat-label>
            <input matInput placeholder="The email will be your username." required>
        </mat-form-field>

    </div>

    <div class="form-row-wrapper">

        <mat-form-field class="form-field" style="width:45%">
            <input matInput placeholder="Enter Password" required>
        </mat-form-field>

        <mat-form-field class="form-field" style="width:45%; margin-left:5%">
            <input matInput placeholder="Confirm Password" required>
        </mat-form-field>

    </div>

    <mat-divider class="divide-spacer"></mat-divider>

    <div class="form-row-wrapper">

        <mat-form-field class="form-field" style="width:45%">
            <input matInput placeholder="Enter Student ID" required>
        </mat-form-field>

        <mat-form-field class="form-field" style="width:45%; margin-left:5%">
            <input matInput placeholder="Enter Name" required>
        </mat-form-field>

    </div>


    <div class="form-row-wrapper">

        <mat-form-field class="form-field" style="width:45%">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-field" style="width:45%; margin-left:5%">
            <mat-select placeholder="Select Major" required>
                <mat-option value="1">SE</mat-option>
                <mat-option value="2">ANI</mat-option>
                <mat-option value="3">MMIT</mat-option>
                <mat-option value="4">DII</mat-option>
                <mat-option value="5">DG</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="footer-wrapper">
        <div align="start" style="width: 45%" class="test">
            <p>Add image</p>
            <app-material-file-upload (complete)="onFileComplete($event)"></app-material-file-upload>
        </div>
        <div align="center" style="width: 45%; margin-left: 5%; margin-top: 3%;">
            <button mat-stroked-button class="my-button" [mat-dialog-close]="true" (click)="openSnackBar()"> Register </button>
        </div>
    </div>

</mat-dialog-content>


<!-- 
<mat-dialog-actions align="center">
<div>
    <button mat-stroked-button class="my-button" [mat-dialog-close]="true" 
    (click)="openSnackBar()"> Register </button>
</div>
</mat-dialog-actions> -->