.main-nav {
  height: 64px;
}

.navbar-spacer {
  flex: 1 1 auto;
}

button {
  font-family: 'Muli', sans-serif !important;
}

.navbar-button {
  font-size: 0.9em;
  font-family: 'Muli', sans-serif !important;
}

.page-bringer {
  color: black;
  margin-right: 3%;
}

.page-bringer:hover {
  color: black;
  margin-right: 3%;
  text-decoration: none !important;
}


.page-bringer2 {
  margin-right: 1%;
  color: black;
}

.page-bringer2:hover {
  margin-right: 1%;
  color: black;
  text-decoration: none !important;
}


.navbar-button:hover {
  font-size: 0.9em;
  cursor: pointer;
  border-bottom: 1px solid black;
  font-family: 'Muli', sans-serif;
  padding-bottom: -4px;
}

.header-text {
  cursor: pointer;
  font-family: 'Muli', sans-serif !important;
}

mat-grid-tile {
  height: calc(100vh - 64px);
}

mat-grid-tile img {
  width: 50%;
  height: auto;
}

.tile-text {
  position: absolute;
  top: 15.31%;

  font-family: 'Abhaya Libre', serif;;  
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 40px;
  text-transform: uppercase;

/* identical to box height, or 73% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em
}

.grid1 {
  background-color: #F2D150;
}

.grid2 {
  background-color: #BBE0F8;
}

.grid3 {
  background-color: #F98989;
}

mat-grid-tile:hover {
  cursor: pointer;
  height: calc(100vh - 64px);
  outline: 1px solid black;
  outline-offset: -10px;
  transition: 0.5s;
}


.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
  font-family: 'Muli', sans-serif !important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.student-toolbar {
  background-color: #F2D150;
}

.teacher-toolbar {
  background-color: #BBE0F8;
}

.admin-toolbar {
  background-color: #F98989;
}


.avatar {
  width: 50%;
  height: auto;
  margin-left: 23%;
}

/* --------- student id input ---------  */
.login-wrapper {
  /* border: 1px solid black; */
  position: absolute;
  bottom: 8%;
  width: 100%;
  /* background-color: transparent; */
}

.std-id {
  font-size: 1.5em;
  font-family: 'Muli', sans-serif !important;
  margin-top: 3%;
}

mat-label { font-family: 'Muli', sans-serif !important; }

.login-btn {
  margin-left: 1.5%;
  color: #474747;
  font-family: 'Muli', sans-serif !important;
}

.login-btn:hover {
  transition: 1s;
  background-color: white;
  font-family: 'Muli', sans-serif !important;
}
