<!-- Home Page -->
<div *ngIf="home">

  <mat-toolbar class="main-nav">
    <span class="header-text"> Learning Through Activity </span>
    <div class="navbar-spacer"></div>
    <a class="navbar-button" (click)="openSimpleDialog()"> Register </a>
  </mat-toolbar>

  <mat-grid-list class="tiles-wrapper" cols="3" rowHeight="3:1">
    <mat-grid-tile class="grid1">
      <p class="tile-text"> Student </p>
      <img src="assets/images/leader.png" />

      <div class="login-wrapper" align="center"  [routerLink]="['/student-enrollment']">
        <mat-form-field class="input-id" appearance="outline">
          <mat-label> student id </mat-label>
          <input numbersOnly type="text" [(ngModel)]='stdid' maxlength="9" (keyup.enter)=callStudentPage() matInput placeholder="Enter student id">
        </mat-form-field>
        <button class="login-btn" mat-button [routerLink]="['/student-enrollment']" (click)=callStudentPage()> Login </button>
      </div>

    </mat-grid-tile>
    <mat-grid-tile class="grid2" [routerLink]="['/teacher']" (click)=callTeacherPage()>
      <p class="tile-text"> Teacher </p>
      <img src="assets/images/teacher.png" />
    </mat-grid-tile>
    <mat-grid-tile class="grid3" [routerLink]="['/pending-list']" (click)=callAdminPage()>
      <p class="tile-text"> Admin </p>
      <img src="assets/images/boy.png" />
    </mat-grid-tile>
  </mat-grid-list>

</div>

<!-- //////////////////////////////////////////////////////////////////////////////////// -->

<!-- Student -->
<mat-sidenav-container *ngIf="student" class="sidenav-container">

  <!-- side nav -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">

    <mat-toolbar> Student </mat-toolbar>

    <img class="avatar" src="assets/images/leader.png" />
    <mat-nav-list>
      <p class="std-id" align="center"> {{stdid}} </p>
      <a mat-list-item [routerLink]="['/student-enrollment']"> Enrollment </a>
      <a mat-list-item [routerLink]="['/student-update']"> Update Info </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- toolbar -->
    <mat-toolbar class="student-toolbar">
      <span class="header-text" [routerLink]="['/home']" (click)=callHomePage()> Learning Through Activity </span>
      <div class="navbar-spacer"></div>
      <a class="navbar-button page-bringer" [routerLink]="['/teacher']"
      (click)="callTeacherPage()"> Teacher </a>
      <a class="navbar-button page-bringer2" [routerLink]="['/pending-list']"
      (click)="callAdminPage()"> Admin </a>
    </mat-toolbar>

    <router-outlet></router-outlet>
    <!-- Add Content Here -->

  </mat-sidenav-content>
</mat-sidenav-container>

<!-- //////////////////////////////////////////////////////////////////////////////////// -->

<!-- Teacher -->
<mat-sidenav-container *ngIf="teacher" class="sidenav-container">

  <!-- side nav -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">

    <mat-toolbar> Teacher </mat-toolbar>

    <img class="avatar" src="assets/images/teacher.png" />
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/teacher']"> Dashboard </a>
      <a mat-list-item [routerLink]="['/teacher-list']"> Activity List </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- toolbar -->
    <mat-toolbar class="teacher-toolbar">
      <span class="header-text" [routerLink]="['/home']" (click)=callHomePage()> Learning Through Activity </span>
      <div class="navbar-spacer"></div>
      <a class="navbar-button page-bringer" [routerLink]="['/student-enrollment']"
      (click)="callStudentPage()"> Student </a>
      <a class="navbar-button page-bringer2" [routerLink]="['/pending-list']"
      (click)="callAdminPage()"> Admin </a>
    </mat-toolbar>

    <router-outlet></router-outlet>
    <!-- Add Content Here -->

  </mat-sidenav-content>
</mat-sidenav-container>

<!-- //////////////////////////////////////////////////////////////////////////////////// -->

<!-- Admin -->
<mat-sidenav-container *ngIf="admin" class="sidenav-container">

  <!-- side nav -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">

    <mat-toolbar> Admin </mat-toolbar>

    <img class="avatar" src="assets/images/boy.png" />
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/pending-list']"> Pending List </a>
      <a mat-list-item [routerLink]="['/admin-create']"> Create </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- toolbar -->
    <mat-toolbar class="admin-toolbar">
      <span class="header-text" [routerLink]="['/home']" (click)=callHomePage()> Learning Through Activity </span>
      <div class="navbar-spacer"></div>
      <a class="navbar-button page-bringer" [routerLink]="['/student-enrollment']"
      (click)="callStudentPage()"> Student </a>
      <a class="navbar-button page-bringer2" [routerLink]="['/teacher']"
      (click)="callTeacherPage()"> Teacher </a>
    </mat-toolbar>

    <router-outlet></router-outlet>
    <!-- 'Add' Content Here -->

  </mat-sidenav-content>
</mat-sidenav-container>