<div class="mat-elevation-z8">
        <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- StudentId Column -->
        <ng-container matColumnDef="studentid">
            <th mat-header-cell *matHeaderCellDef>Student Id</th>
            <td mat-cell *matCellDef="let student">{{student.numberStudent}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
          <!--StudentName Column -->
    <ng-container matColumnDef="studentname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let student">{{student.nameStudent}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- StudentSurname Column -->
        <ng-container matColumnDef="studentsurname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
            <td mat-cell *matCellDef="let student">{{student.surnameStudent}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
          <!-- actName Column -->
          <ng-container matColumnDef="actName">
              <th mat-header-cell *matHeaderCellDef>Activities Name</th>
              <td mat-cell *matCellDef="let student">{{student.actName}}</td>
              <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <!-- location Column -->
          <ng-container matColumnDef="location">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
              <td mat-cell *matCellDef="let student">{{student.location}}</td>
              <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <!-- Date Column -->
          <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of activities</th>
              <td mat-cell *matCellDef="let student">{{student.Date}}</td>
              <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
           <!-- Date Column -->
           <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Time of activities</th>
            <td mat-cell *matCellDef="let student">{{student.time}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
              <!-- host Column -->
          <ng-container matColumnDef="host">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Professor</th>
            <td mat-cell *matCellDef="let student">{{student.host}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let student">{{student.description}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- ImageActivity Column -->
        <ng-container matColumnDef="ImageOfActivity">
                <th mat-header-cell *matHeaderCellDef >ImageOfActivity</th>
                <td mat-cell *matCellDef="let student">
                    <img [src]="student.Image" [title]="student.activityId" class="Imgsize">
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
         <!-- Add button Column -->
         <ng-container matColumnDef="enrollButton">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let student">
                <div class="center">
                    <button mat-raised-button color="primary" class="center-text" id="{{'Approvebtn'+student.numberStudent }}" (click)="Approvebutton(student.numberStudent)">Approve</button>
                    <button mat-raised-button class="center-text" id="{{'rejectBtn'+student.numberStudent }}"  (click)="rejectbutton(student.numberStudent)">Reject</button>
                    <!-- <b ng-show="pending">PENDING!!!!</b> -->
                </div>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
      <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]"> </mat-paginator>
      </div>
    