@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.full-width {
    width: 100%;
  }

.header-text {
  font-family: 'Muli', sans-serif !important;
}

button {
  font-family: 'Muli', sans-serif !important;
}

  /* .center-button {
    text-align: center;
    padding-left: .5em;
    min-width: 0.5rem;
    max-width: 0.5rem;
  }
   */
  .center-text {
    text-align: center;
  }
  
  .center {
    display: flex;
    justify-content: center;
  }
  .penInput {
      min-width:3rem;
      max-width: 6rem;
    }
  
    .my-button {
      margin-bottom: 30px;
      font-size: 1em;
      font-weight: 400;
      background-color: #f2d150;
  }
  
  .footer-wrapper {
      /* direction: flex; */
      display: flex;
      flex: 1 1 auto;
    }