<mat-toolbar>
  <mat-toolbar-row>
    <span class="header-text">Create new Activity</span>
  </mat-toolbar-row>
</mat-toolbar>

<form style="margin-left: 1em" #studentForm="ngForm" [formGroup]="form" required>
  <mat-form-field style="width:95%">
    <input matInput placeholder="Activity ID" formControlName="activityId" required>
  </mat-form-field>
  <mat-form-field style="width:95%">
    <input matInput placeholder="Activity name" formControlName="actName" required>
  </mat-form-field>

  <div class="form-row-wrapper">
    <mat-form-field style="width:45%">
      <input matInput placeholder="Location" formControlName="location" required>
    </mat-form-field>

    <mat-form-field class="form-field" style="width:45%; margin-left:5%">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-row-wrapper">
    <mat-form-field class="form-field" style="width:45%;">
      <input matInput atp-time-picker value="00:00" placeholder="Start from" formControlName="time" required/>
    </mat-form-field>

    <mat-form-field class="form-field" style="width:45%; margin-left:5%">
      <input matInput atp-time-picker value="00:00" placeholder="To" formControlName="time" required/>
    </mat-form-field>
  </div>

  <div class="form-row-wrapper">
    <mat-form-field class="form-field" style="width:45%;">
      <input matInput placeholder="Host" formControlName="host" required>
    </mat-form-field>

    <mat-form-field class="form-field" style="width:45%; margin-left:5%">
        <input matInput placeholder="Time of Activity" formControlName="host" required>
    </mat-form-field>
  </div>

  <mat-form-field style="width:95%">
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>
  <!-- <div align="center">
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="submit()"> Create </button>
  </div> -->

  <div class="footer-wrapper">
      <div align="start" style="width: 45%" class="test">
        <p>Add image</p>
        <app-material-file-upload (complete)="onFileComplete($event)"></app-material-file-upload>
      </div>
      <div align="center" style="width: 45%; margin-left: 5%; margin-top: 3%;">
        <button mat-stroked-button class="my-button" 
        [mat-dialog-close]="true"
        [disabled]="!form.valid" (click)="submit()"> Create </button>
      </div>
    </div>
</form>