.p-text {
    margin-top: 20px;
    margin-left: 3%;
}

.form-row-wrapper {
    margin-left: 3%;
    display: flex;
    flex-direction: row;
}

.form-field {
    margin-top: 10px;
}

.divide-spacer {
    margin: 20px 0 0 0;
}

.my-button {
    font-family: 'Muli', sans-serif !important;
}

.header-title {
    font-family: 'Muli', sans-serif !important;
}

.my-button {
    margin-bottom: 30px;
    font-size: 1em;
    font-weight: 400;
    background-color: #f2d150;
}

.button-wrapper {
    /* margin-left: 20%; */
    margin-top: 2%;
    margin-left: 5%;
    /* border: 1px solid black; */
}

.footer-wrapper {
    /* direction: flex; */
    display: flex;
    flex: 1 1 auto;
    margin-left: 3%;
    /* border: 1px solid black; */
  }