<mat-toolbar>
  <span class="header-title"> Update Information </span>
</mat-toolbar>

<p class="p-text"> Change Profile Picture </p>


<!-- <div class="form-row-wrapper">
  <mat-form-field class="form-field" style="width:45%;">
    <app-material-file-upload (complete)="onFileComplete($event)"></app-material-file-upload>
  </mat-form-field>
  <div class="button-wrapper">
    <button mat-button class="my-button"> Upload </button>
  </div>
</div> -->

<div class="footer-wrapper">
    <div align="start" style="width: 45%" class="test">
        <p>Add image</p>
        <app-material-file-upload (complete)="onFileComplete($event)"></app-material-file-upload>
    </div>
    <div align="start" style="width: 45%; margin-left: 5%; margin-top: 3%;">
        <button mat-button class="my-button" [mat-dialog-close]="true" (click)="openSnackBar()"> Register </button>
    </div>
</div>

<mat-divider class="divide-spacer"></mat-divider> 

<!-- ///////////////////////// -->

<p class="p-text"> Change Password </p>

<div class="form-row-wrapper">
  <mat-form-field class="form-field" style="width:45%;">
    <input matInput placeholder="Enter Old Password" required>
  </mat-form-field>
  <mat-form-field class="form-field" style="width:45%; margin-left:5%">
    <input matInput placeholder="Enter New Password" required>
  </mat-form-field>
</div>

<div class="form-row-wrapper">
  <mat-form-field class="form-field" style="width:45%;">
    <input matInput placeholder="Confirm New Password" required>
  </mat-form-field>
  <div class="button-wrapper">
    <button mat-button class="my-button"> Confirm </button>
  </div>
</div>

<mat-divider class="divide-spacer"></mat-divider>