<mat-form-field style="width: 20%; margin-left: 1%">
    <input matInput (keyup)="applyFilter($event.target.value)" 
    placeholder="Filter by Name or Date">
  </mat-form-field>
  
<div class="mat-elevation-z8">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- activityId Column -->
      <ng-container matColumnDef="activityId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Activities ID</th>
          <td mat-cell *matCellDef="let activity">{{activity.activityId}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- actName Column -->
      <ng-container matColumnDef="actName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Activities Name</th>
          <td mat-cell *matCellDef="let activity">{{activity.actName}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- location Column -->
      <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef >Location</th>
          <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
          <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <!-- Date Column -->
      <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of activities</th>
          <td mat-cell *matCellDef="let activity">{{activity.Date}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
       <!-- Date Column -->
       <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time of activities</th>
        <td mat-cell *matCellDef="let activity">{{activity.time}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
        <!-- preriodOfRegis Column -->
        <ng-container matColumnDef="preriodOfRegis">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Preriod of registration</th>
            <td mat-cell *matCellDef="let activity">{{activity.preriodOfRegis}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
          <!-- host Column -->
      <ng-container matColumnDef="host">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Advicer</th>
        <td mat-cell *matCellDef="let activity">{{activity.host}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- description Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let activity">{{activity.description}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
     <!-- Add button Column -->
     <ng-container matColumnDef="enrollButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let activity">
            <div class="center">
                <button mat-raised-button class="center-text" id="{{'enrollBtn'+ activity.activityId }}" (click)="openDialog(activity.activityId)">Enroll</button>
                <!-- <b ng-show="pending">PENDING!!!!</b> -->
            </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]"> </mat-paginator>
  </div>
  