/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap');

html, body { 
    height: 100%; 
    font-family: 'Muli', sans-serif !important;
}
body { 
    margin: 0; 
    font-family: 'Muli', sans-serif !important;
}
