<mat-dialog-content>
  <div>
    <h3 class="register-title"> Update Activity Information </h3>
  </div>

  <form #studentForm="ngForm" [formGroup]="form" required>
    <div class="form-row-wrapper">
      <mat-form-field class="form-field" style="width:45%">
        <input matInput placeholder="Activity ID" formControlName="actId" required>
      </mat-form-field>
      <mat-form-field class="form-field" style="width:45%; margin-left:5%">
        <input matInput placeholder="Activity Name" formControlName="actName" required>
      </mat-form-field>
    </div>

    <mat-divider class="divide-spacer"></mat-divider>

    <div class="form-row-wrapper">
      <mat-form-field class="form-field" style="width:45%;">
        <input matInput atp-time-picker value="00:00" placeholder="Start from" formControlName="time" formControlName="timeStart"
          required/>
      </mat-form-field>

      <mat-form-field class="form-field" style="width:45%; margin-left:5%">
        <input matInput atp-time-picker value="00:00" placeholder="To" formControlName="time" formControlName="timeTo" required/>
      </mat-form-field>
    </div>

    <div class="form-row-wrapper">
      <mat-form-field class="form-field" style="width:45%">
        <input matInput placeholder="location" formControlName="location" required>
      </mat-form-field>
      <mat-form-field class="form-field" style="width: 45%; margin-left: 5%;">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <mat-divider class="divide-spacer"></mat-divider>

    <div class="form-row-wrapper">
      <mat-form-field class="form-field" style="width:45%">
        <input matInput placeholder="Host" formControlName="host" required>
      </mat-form-field>
      <mat-form-field class="form-field" style="width:45%; margin-left:5%">
        <input matInput placeholder="Time of Activities" formControlName="actId" formControlName="actTime" required>
      </mat-form-field>
    </div>

    <div class="form-row-wrapper">
      <mat-form-field style="width:95%">
        <textarea matInput placeholder="Description"></textarea>
      </mat-form-field>
    </div>

    <div class="footer-wrapper">
      <div align="start" style="width: 45%" class="test">
        <p>Add image</p>
        <app-material-file-upload (complete)="onFileComplete($event)"></app-material-file-upload>
      </div>
      <div align="center" style="width: 45%; margin-left: 5%; margin-top: 3%;">
        <button mat-stroked-button class="my-button" [mat-dialog-close]="true" (click)="openSnackBar()"> Update </button>
      </div>
    </div>

  </form>

</mat-dialog-content>
<!-- 
<mat-dialog-actions align="center">
  <div>
    <button mat-stroked-button class="my-button" [mat-dialog-close]="true" (click)="openSnackBar()"> Update </button>
  </div>
</mat-dialog-actions> -->