.form-row-wrapper {
  display: flex;
  flex-direction: row;
}

.register-title {
  font-family: 'Muli', sans-serif !important;
}

.form-field {
  margin-top: 10px;
}

.divide-spacer {
  margin: 20px 0 10px 0;
}

.my-button {
  font-family: 'Muli', sans-serif !important;
}

.my-button {
  margin-bottom: 30px;
  font-size: 1em;
  font-weight: 400;
  background-color: #f2d150;
}

.footer-wrapper {
  direction: flex;
  display: flex;
  flex: 1 1 auto;
}

/* .test {
  border: 1px solid black;
} */
/* 
.header-text{
  width: 100%;
  background-color: #673AB7;
  color: white;
} */